* {
  background-color: #E9B44C;
  color: #1C110A;

}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro {
  text-align: center;
}

h1 {

}

button {
  width: 100px;
  height: 45px;
  background-color: #50A2A7;
}
