* {
  /*background-color: #E9B44C;*/
  color: #1C110A;
}

.content {
  padding: 25%
}

.intro {
  text-align: center;
}

h1 {

}


.questionBlock {
  display: 'flex',run-in;
  align-items: 'center';
  justify-content: 'center';
  width: 100%;
  height: 100%

}

.question {
  text-align: left;
  padding: 25%;
  height: 100%
}

.questionTitle {
  font-size: 25px;
  margin-bottom: 10px;
}

.label {
  margin-left: 5px;
}
